.content {
    background-color: $background-fill-color;
    padding-top: 24px;

    @media (min-width: $content-width) {
        width: 100%;
    }

    &__menu-list {
        margin: 0;
        padding: 24px 0 0 0;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        overflow: auto;

        @media (min-width: $content-width) {
            flex-wrap: wrap;
        }
    }
    

    &__menu-link {
        display: block;
        box-sizing: border-box;
        margin-left: 30px;
        padding: 8px 16px;
        text-decoration: none;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        color: $content-menu-item-text-color;
        letter-spacing: -0.2px;
        text-align: center;
        white-space: nowrap;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid $decoration-elements-color;
            border-radius: 6px;
            background-color: white;
        }
        &:active {
            background-color: $decoration-elements-color;
        }
    }
}