.brands {


    &__list {
        margin-block-start: 0;
        padding-inline-start: 0;
        transition: height 400ms ease-in;
        height: 110px;

        @media (min-width: $tablet-width) {
            height: 200px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            padding-inline-end: 24px;
            padding-block-end: 8px;
        }

        &--expanded {
            height: auto;
        }
    }

    &__item {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: white;
        border: 1px solid $section-item-border-color;
        border-radius: 5%;
        padding: 10px 20px;
        width: 240px;
        max-height: 160px;
        height: 72px !important;
        box-sizing: border-box;
        &:hover {
            transition-duration: 300ms;
            filter: drop-shadow(0 0 0.25rem $interaction-btns-fill-color);
        }

        @media (min-width: $tablet-width) and (max-width: $content-width) {
            width: 224px;
            margin-left: 24px;
            margin-top: 24px;
        }
        @media (min-width: $content-width) {
            margin-left: 32px;
            margin-top: 24px;
        }
        
    }

    .btn-read-more {
        display: none;

        @media (min-width: $tablet-width) {
            display: block;
            margin: 20px 32px;
        }
    }
}
