.brands {
    &__container {
        height: auto;
    }

    &__list {
        margin-block-start: 0;
        padding-inline-start: 0;
        transition-duration: 400ms;

        @media (min-width: $tablet-width) {
            height: 190px !important;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &--expanded {
            transition-duration: 400ms;
            height: 350px;
        }
    }

    &__item {
        margin: 12px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: white;
        border: 1px solid $section-item-border-color;
        border-radius: 5%;
        padding: 10px 20px;
        width: 224px !important;
        height: 72px !important;
        box-sizing: border-box;
        &:hover {
            transition-duration: 300ms;
            filter: drop-shadow(0 0 0.75rem $red-round-buttons-fill-color);
        }
        
    }

    .btn-read-more {
        display: none;

        @media (min-width: $tablet-width) {
            display: block;
            margin: 20px 32px;
        }
    }
}

// @media (min-width: $tablet-width) {
//     .brands {
//         // &__container {
//         //     height: 100%;
//         // }

//         // &__list {
//         //     height: 190px !important;
//         //     overflow: hidden;
//         //     display: flex;
//         //     flex-wrap: wrap;
//         //     justify-content: space-evenly;
//         // }

//        .btn-read-more {
//            margin: 20px 32px;
//        }
//     }
// }