.article {
    background-color: $background-fill-color;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__text {
        padding: 16px;

        @media (min-width: $tablet-width) {
            width: calc(100% - 360px -48px);
        }
    }

    &__list {
        height: 4em;
        overflow: hidden;
        transition: height 400ms ease-in;

        &--expanded {
            // transition-duration: 400ms;
            height: auto;
        }
    }

    &__paragraph {
        margin: 0;
        padding: 12px 0;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $content-block-text-color;  
    }

    .btn-read-more {
        margin-left: 16px;
        margin-bottom: 16px;
    }

    &__image {
        @media (min-width: $tablet-width) {
            padding-top: 24px;
            padding-right: 12px;
        }
    }

    &__picture {
        width: 100%;
        height: auto;

        @media (min-width: $tablet-width) {
            width: 360px;
        }

        @media (min-width: $content-width) {
            min-width: 532px;
        }
    }

}