.prices {


    &__list {
        margin-block-start: 0;
        padding-inline-start: 0;
        transition-duration: 400ms;
        height: 240px;


        @media (min-width: $tablet-width) {
            flex-direction: column;
            align-items: center;
            background-color: white;
            border-radius: 6px;
            height: auto;
            width: 95%;
            margin: 0 auto;
        }
    }

    &__item {
        max-width: 260px;
        max-height: 200px;
        box-sizing: border-box;
        padding: 16px;
        margin-top: 16px;
        

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: white;
        border: 1px solid $section-item-border-color;
        border-radius: 5%;

        list-style-type: none;
        
        &--no-mobile {
            display: none;
            padding: 31px 10px 24px 22px;
            background-color: transparent;
            

            @media (min-width: $tablet-width) {
                display: flex;
                border-bottom: none;
                margin-left: 38px;
                width: 95%;
            }
        }

        @media (min-width: $tablet-width) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 95%;
            height: 64px;
            border: none;
            border-bottom: 1px solid $section-item-border-color;
            border-radius: 0;
            margin: 0 50px;
            padding: 23px 16px;
        }

        &:last-child {
            border-bottom: none;
        }

        
    }

    &__descr-list-item {
        display: flex;
        flex-direction: column;

        @media (min-width: $tablet-width) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 0;

            &:first-child {
                flex: 0 0 55%;
            }

            &:nth-child(2) {
                flex: 0 0 13%;
            }

            &:last-child {
                flex: 0 0 32%;
                justify-content: space-between;
            }
        }
    }

    &__title {
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: $section-item-text-color;
        margin-block-start: 0;

        &--mobile {
            @media (min-width: $tablet-width) {
                display: none;
            }
        }

       
    }
    &__descr {
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $content-block-text-color;
        margin-block-start: 0;

        @media (min-width: $tablet-width) {
            margin-block-end: 0;
        }
        
    }
    &__button {
        position: absolute;
        transform: translate(110px, 0px);

    }
}