.equipment {
    

    &__list {
        margin-block-start: 0;
        padding-inline-start: 0;
        transition-duration: 400ms;
        height: 200px;

        @media (min-width: $tablet-width) {
            width: auto;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            padding-inline-end: 24px;
            padding-block-end: 8px;;
        }

        &--expanded {
            height: auto;
        }
    }

    &__item {
        margin-top: 16px;
        width: 240px;
        min-height: 160px;
        max-height: 160px;
        box-sizing: border-box;
        padding: 16px;
         

        
        display: flex;
        flex-direction: row;

        
        background-color: white;
        border: 1px solid $section-item-border-color;
        border-radius: 5%;
        &:hover {
            transition-duration: 300ms;
            filter: drop-shadow(0 0 0.25rem $interaction-btns-fill-color);
        }

        @media (min-width: $tablet-width) and (max-width: $content-width) {
            width: 224px;
            margin-left: 24px;
            margin-top: 24px;
        }

        @media (min-width: $content-width) {
            margin-left: 32px;
            margin-top: 24px;
        }
    }
    &__item-title {
        flex-basis: 80%;
        display: block;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-block-start: 0;
        margin-block-end: 0;

    }

    .btn-read-more {
        display: none;

        @media (min-width: $tablet-width) {
            display: block;
            margin: 20px 32px;
        }
    }

    .interaction-btn {
        align-self: flex-end;
        justify-self: flex-end;
    }
}
