.section {
    background-color: $background-fill-color;

    &__container {
        height: auto;
    }

    &__header {
        background: $section-header-background-fill-color;
        padding: 16px;
    }

    &__title {
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: $section-item-text-color;
        font-weight: 200;
    }

    &__footer {
        padding: 36px;
    }

    &__proposal {
        width: 420px;
        margin-top: 0;
        padding: 0;

        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $content-block-text-color;
    }

    &__link {
        padding: 10px 0;
        padding-right: 25px;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $content-block-text-color;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        border: 2px solid transparent;
        &::after {
            content: "";
            width: 8px;
            height: 12px;
            background-image: url('../img/icons/chevron-single-right.png');
            position: absolute;
            left: 255px;
            top: 16px;
        }
        &:hover {
            border: 2px solid $interaction-btns-fill-color;
            border-radius: 6px;
            background-color: white;
        }
        &:active {
            background-color: $interaction-btns-fill-color;
        }
    }

    
}