.form {
    display: flex;
    flex-flow: column nowrap;
    padding: 60px 16px 24px 16px;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    overflow: scroll;
    z-index: -1;

    @media (min-width: $widescreen) {
        padding-top: 0;
    }


    .title {
        margin: 24px 0;
        &::before {
            left: -16px;
        }
    }

    & .action-button {
        align-self: flex-end;
    }

    &__input {
        margin-bottom: 16px;
        padding: 12px;
        border: 1px solid $section-item-border-color;
        border-radius: 8px;

        &:focus {
            border-color: $section-item-border-color;
        }

        &--message {
            resize: none;
            min-height: 118px;
        }
    }
}