.modal {
    min-width: 320px;
    max-width: 440px;
    min-height: 100vh;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    left: -1000px;
    transition: all 0.5s ease-in;
    
    background-color: $background-fill-color;

    @media (min-width: $content-width) {
        left: 2000px;
    }


    &--active {
        position: absolute;
        left: 0;
        z-index: 2000;
        height: 100%;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        
        @media (min-width: $content-width) {
            left: 70%;
        }
    }
}