.footer {
    background-color: $background-fill-color;

    &__list {
        margin: 0;
        padding: 57px 10px 10px 10px;
        list-style-type: none;
        text-align: center;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 16px;
        color: $section-item-text-color;
        
        @media (min-width: $tablet-width) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__list-item {
        padding: 8px 0;

        & p {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        @media (min-width: $tablet-width) {
            &:first-child {
                text-align: start;
                flex: 0 0 33%;
            }
            &:nth-child(2) {
                text-align: center;
                flex: 0 0 33%;
            }
            &:last-child {
                text-align: end;
                flex: 0 0 33%;
            }
        }
    }

    &__link {
        text-decoration: none;
        padding: 5px;
        color: $section-item-text-color;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid $ui-buttons-fill-color;
            border-radius: 6px;
            background-color: white;
        }
        &:active {
            background-color: $ui-buttons-fill-color;
        }
    }
}