.container {
    max-width: $widescreen;
    min-width: $mobile;
    height: auto;

    &--disabled {

    }

    @media (min-width: $content-width) {
        max-width: $content-width;
        margin: 0 auto;
    }
    
    @media (min-width: $widescreen) {
        position: absolute;
        transform: translateX(320px);
    }
}