// @font-face {
//     font-family: 'TT Lakes';
//     src: url("../../fonts/TTLakesCondensed-Light.eot");
//     src: url("../../fonts/TTLakesCondensed-Light.woff") format("woff");
//     src: url("../../fonts/TTLakesCondensed-Light.ttf") format("truetype");
//     font-weight: light;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'TT Lakes';
//     src: url("../../fonts/TTLakesCondensed-Regular.eot");
//     src: url("../../fonts/TTLakesCondensed-Regular.woff") format('woff');
//     src: url("../../fonts/TTLakesCondensed-Regular.ttf") format('truetype');
//     font-weight: regular;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'TT Lakes';
//     src: url("../../fonts/TTLakesCondensed-Bold.eot");
//     src: url("../../fonts/TTLakesCondensed-Bold.woff") format('woff');
//     src: url("../../fonts/TTLakesCondensed-Bold.ttf") format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }