@import 'normalize.css';
@import './blocks/swiper/swiper.scss';
@import './variables/variables';
@import './buttons/buttons.scss';
@import './blocks/header-menu/header-menu.scss';
@import './blocks/content/content.scss';
@import './blocks/article/article.scss';
@import './blocks/section/section.scss';
@import './blocks/brands/brands.scss';
@import './blocks/equipment/equipment.scss';
@import './blocks/prices/prices';
@import './blocks/footer/footer';
@import './blocks/menu/menu';
@import './blocks/lang-list/lang-list';
@import './blocks/modal/modal';
@import './blocks/container/container.scss';
@import './blocks/title/title.scss';
@import './blocks/header/header.scss';
@import './blocks/feedback/feedback';
@import './blocks/support/support.scss';
@import './blocks/form/form.scss';


html {
    font-size: 16px;
}
body {
    font-family: "TT Lakes", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}    

@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakesCondensed-Light.eot");
    src: url("../fonts/TTLakesCondensed-Light.woff") format("woff");
    src: url("../fonts/TTLakesCondensed-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakesCondensed-Regular.eot");
    src: url("../fonts/TTLakesCondensed-Regular.woff") format('woff');
    src: url("../fonts/TTLakesCondensed-Regular.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakesCondensed-Bold.eot");
    src: url("../fonts/TTLakesCondensed-Bold.woff") format('woff');
    src: url("../fonts/TTLakesCondensed-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}



