//BAckgrounds
$background-fill-color: #F8F8F8;
$section-header-background-fill-color: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);

//Decoration
$divider-color: #EAEAEA;
$decoration-elements-color: #41F6D7;
$section-item-border-color: #EAEAEA;
$link-color: #1B1C21;
$hover-link-color: #7E7E82;

//Buttons
$ui-buttons-fill-color: #FF3E79;
$round-buttons-border-color: #FF3E79;


//Fonts colors
$content-menu-item-text-color: #7E7E82;
$content-block-text-color: #1B1C21;
$section-item-text-color: #7E7E82;


//breakpoints
$mobile: 320px;
$tablet-width: 768px;
$content-width: 1120px;
$widescreen: 1440px;


