//BAckgrounds
$background-fill-color: #F8F8F8;

//Decoration
$divider-color: #EAEAEA;
$decoration-elements-color: #41F6D7;
$section-item-border-color: #EAEAEA;

//Buttons
$red-round-buttons-fill-color: #FF3E79;
$round-buttons-border-color: #FF3E79;


//Fonts colors
$content-menu-item-text-color: #7E7E82;
$content-block-text-color: #1B1C21;
$section-item-text-color: #7E7E82;



